@{
    ViewData["Title"] = "Juego";
}

<body>
    <section class = "Juego">
        <div>
            <p>@ViewBag.Palabra</p>
            <p>Letras utilizadas: @for (int i = 0; i < ViewBag.letrasUsadas.Count; i++)
                {
                    @ViewBag.letrasUsadas[i];

                } 
            </p>
            
            <p>intentos: @ViewBag.Intentos</p>

            <p>@ViewBag.Mensaje</p>

            <p>Adivine la letra: <form action='@Url.Action("JugarLetra", "Home")' method="get">
                <input type="text" maxlength="1" style="text-transform: lowercase;" name="letra">
                <input type="submit" value = "Arriesgar Letra">
            </form> </p>

            <p>Adivine la palabra: <form action='@Url.Action("JugarPalabra", "Home")' method="get">
                <input type="text" style="text-transform: lowercase;" name="palabra">
                <input type="submit" value = "Arriesgar Palabra">
            </form> </p>

        </div>
    </section>
    <footer>
        <h4>Tp hecho por Santi Hong, Santi Choe y Diana Park</h4>
    </footer>
</body>

